table {
  font-size: 15px;
  background-color: #111111;
  color: white!important;
  min-height: 200px;
}

mat-paginator {
  font-size: 15px;
  background-color: #111111;
  color: white;
}

th, td {
  color: white;
  border-color: #404040;
}

.container-spinner {
  background-color: #111111;
  min-height: 200px;
}

.detail-icon {
  cursor: pointer;
}
