table {
  font-size: 15px;
  background-color: #111111;
  color: white!important;
}

mat-paginator {
  font-size: 15px;
  background-color: #111111;
  color: white;
}

th, td {
  color: white;
  border-color: #404040;
}

