mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  // margin: 16px;
  width: 225px;
  border-right: none;
  background: #FFFFFF;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.top-divider {
  margin-bottom: 50%;
}

.bottom-divider {
  margin-top: 50%;
}

.content {
  height: calc(100vh);
  border-radius: 10px 0px 0px 10px;
  // margin: 16px;
  // margin-left: 32px;
  padding: 0 50px;
  overflow-y: auto;

  display: flex;
 // justify-content: center;
  align-items: center;
  position: relative;

  font-size: 2rem;
  color: lightgray;
  background-color: #000000 !important;
}

mat-sidenav-container {
  height: calc(100vh);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  text-decoration: none;
  margin-bottom: 10px;

  mat-icon {
    margin-right: 8px;
  }
}


.avatar {
  margin-top: 16px;
  height: 100px;
  box-shadow: none;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.active {
  color: #ffff !important;
  background-color: #000000;
}


.container-top {
  width: 100%;
  position: absolute;
  bottom: 90%;
  padding: 0 50px;

  // left: 2%;
  .container-message {
    color: #FFFFFF;
    span {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .container-user-actions {
    .container-notification {
      position: relative;
      .red {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        bottom: 62%;
        left: 60%;
      }
    }
    .profile {
      margin-left: 20px;
    }

    mat-icon {
      height: 30px!important;
      width: 30px!important;
      font-size: 30px;
      cursor: pointer;
      color: #FFFFFF;
    }
  }
}
