<div class="container-dashboard h-100">
  <div class="top">
    <div class="container-spendings d-flex align-items-center">
      <div class="chip d-flex align-items-center justify-content-center">
        <mat-icon class="material-symbols-outlined top-chart">
          show_chart
        </mat-icon>
        <div class="information">
          <span>Income</span>
          <p>$5.000</p>
        </div>
      </div>
      <div class="chip d-flex align-items-center justify-content-center">
        <mat-icon class="material-symbols-outlined bottom-chart">
          trending_down
        </mat-icon>
        <div class="information">
          <span>Spendings</span>
          <p>$2.405</p>
        </div>
      </div>
    </div>
    <div class="reports"></div>
  </div>
  <div class="bottom"></div>
</div>
